<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>JTransfer | Help</title>

		<meta th:replace="template :: metas" />

		<link th:replace="template :: css_base" />
	</head>
	<body>
		<div class="container">
			<header th:replace="template :: header('help')"></header>

			<main>
				<div th:replace="template :: info"></div>

				<div class="content">
					<h2>Help</h2>
					<div>
						Veel gestelde vragen en zo komen hier...
					</div>
				</div>
			</main>
		</div>
	</body>
</html>